body {
  background: url(../images/background.png) center center no-repeat fixed;
  background-size: cover;
}

.content {
  padding: 100px;
}

#hint {
  font-size: 30px;
  margin-left: 10px;
  top: 10px;
  cursor: pointer;
}